/* Page Background */
.cp-container {
  height: 100vh;
  padding-top: 100px;
  background: linear-gradient(to top right, #0d6e78, #053b52);
}

.cp-card {
  width: 450px;
  margin: auto;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* Input fields */
.input-box {
  display: flex;
  align-items: center;
  background: #eee;
  padding: 12px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 10px;
}

/* Buttons */
.main-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #0d6e78, #083d52);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.google-btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to right, #0d6e78, #083d52);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Messages */
.error-text {
  color: red;
  margin-top: -10px;
}

.success-text {
  color: green;
  margin-top: -10px;
}